<html>
    <head>
        <title>Monopoly Deal Game: {{ room }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script type="text/javascript" charset="utf-8">
            var protocol = window.location.protocol;
            var socket;
            $(document).ready(function(){
                socket = io.connect(protocol + '//' + document.domain + ':' + location.port + '/game');
                socket.on('connect', function() {
                    socket.emit('join_game', {}); 
                    $('#action').attr( "disabled", true);
                });

                // chat functionality
                socket.on('chat_message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });

                // game functionality
                socket.on('game_ready', function(data) {
                    $('#start_game').attr( "disabled", false);
                });
                socket.on('game_end', function(data) {
                    $('#action').attr( "disabled", true);
                    $('#start_game').text("Play Again")
                    if (data.msg) {
                        $('#add_bots').attr( "disabled", false);
                        $('#invite').attr( "disabled", false);
                        $('#start_game').attr( "disabled", false);
                    }
                    else {
                        $('#start_game').attr( "disabled", true);
                        $('#add_bots').attr( "disabled", false);
                        $('#invite').attr( "disabled", false);
                    }
                });
                socket.on('game_started', function(data) {
                    $('#game_log').val('');
                    $('#player_log').val('');
                    $('#board').val('');
                    $('#start_game').attr( "disabled", true);
                    $('#start_game').attr( "title", "");
                    $('#add_bots').attr( "disabled", true);
                    $('#invite').attr( "disabled", true);
                });
                socket.on('status', function(data) {
                    $('#game_log').val($('#game_log').val() + data.msg + '\n');
                    $('#game_log').scrollTop($('#game_log')[0].scrollHeight);
                });
                socket.on('update_board', function(data) {
                    $('#board').val(data.msg);
                });
                socket.on('game_message', function(data) {
                    $('#game_log').val($('#game_log').val() + data.msg + '\n');
                    $('#game_log').scrollTop($('#game_log')[0].scrollHeight);
                });
                socket.on('player_message', function(data) {
                    $('#player_log').val($('#player_log').val() + data.msg + '\n');
                    $('#player_log').scrollTop($('#player_log')[0].scrollHeight);
                });
                socket.on('end_input', function(data) {
                    $('#action').attr( "disabled", true);
                });
                socket.on('prompt', function(data) {
                    $('#player_input').text(data.msg);
                    $('#action').attr( "disabled", false);
                });
                $('#action').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        action = $('#action').val();
                        $('#action').val('');
                        socket.emit('action', {msg: action});
                    }});
            });
            function add_bot() {
                socket.emit('add_bot', {});
            }
            function start_game() {
                socket.emit('start', {});
            }
            function exit_game()
            {
                window.location.href="/"
            }
        </script>
    </head>
    <body>
        <div class="container-fluid m-3">
            <div class="row">
                <h2>Monopoly Deal Game: {{ room }}</h2>
            </div>
            <div class="row">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button id="go_back" onclick="exit_game();" class="btn btn-danger mb-2">Exit Game</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="invite" type="button" class="btn btn-primary  mb-2" data-toggle="modal" data-target="#InviteModal">Invite Players</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="add_bots" onclick="add_bot();" class="btn btn-primary mb-2">Add Robot Player</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button id="start_game" onclick="start_game();" class="btn btn-success mb-2" disabled title="need at least 2 players to play">Start Game</button>
                    </div>
                </div>
            <div class="row">
                <div class="col-5">
                    <h4>Board</h4>
                    <textarea class="form-control" id="board" cols="100" rows="23" readonly></textarea>
                </div>
                <div class="col-4">
                    <h4>Game Log</h4>
                    <textarea class="form-control" id="game_log" cols="100" rows="7" readonly></textarea>
                    <h4>Player Inputs</h4>
                    <textarea class="form-control" id="player_log" cols="100" rows="13" readonly></textarea>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="player_input">Game Input</span>
                        </div>
                        <input id="action" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-2">
                    <h4>Chat Log</h4>
                    <textarea class="form-control" id="chat" cols="30" rows="22" readonly></textarea>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chat_input">Chat Input</span>
                        </div>
                        <input id="text" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="InviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invite Players</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    I'm not a front end developer so you have to do this yourself.
                    Tell people to join the game using Game ID: 
                    <div class="alert alert-primary" role="alert">
                        {{ room }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
