{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container">
 <div class="row">
    <h2>Monopoly Deal</h2>
    <h4>Create or Join Game</h4>
  </div>
  <hr>
  <form action="" method="post" class="form" role="form">
   {{ form.csrf_token() }}
   <div class="row">
    <div class="form-group">
      {{ wtf.form_field(form.player, type='text', class='form-control', placeholder='player') }}
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
    <hr>
    <div class="form-group">
      {{ wtf.form_field(form.room, type='text', class='form-control', placeholder='game id') }}
      <button type="submit" class="btn btn-primary">Join</button>
    </div>
    </div>
  </form>
  <hr>
</div>
{% endblock %}

